@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    background-color: rgb(255, 106, 98);
    text-align: center;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
}

h1 {
    color: rgb(212, 11, 0);
    text-shadow: rgb(255, 255, 255) 2px 0 6px;
}

p {
    color: rgb(255, 212, 210);
}

main {
    display: flex;
    justify-content: center;
}

div {
    background-color: rgb(255, 141, 135);
    color: rgb(242, 30, 19);
    padding: 10px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 9px 10px 5px 0px rgba(179, 46, 41, 0.8);
    position: absolute;
    display: flex;
}

table {
    border: 2px solid rgb(242, 30, 19);
    border-radius: 7px;
    margin-inline: 5px;
    font-size: 20px;
}

footer {
    display: flex;
    background-color: rgb(200, 27, 18);
    color: rgb(255, 184, 180);
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
}
